/* Allen Code */
body {
    font-family: "Jost", sans-serif;
}

/* Buttons */
.cstm-button {
    width: 100px;
    background: #e1008ecc;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Helpers */
.bold {
    font-weight: 700;
}

/* Navigation */
nav {
    font-family: "Jost", sans-serif;
}

.navbar-brand {
    width: 10rem;
    margin-right: 0rem;
}

.navbar {
    background-color: #e1008ecc;
    height: 3.6rem;
    margin: 2rem 0rem;
    text-shadow: 2px 0px 1px #000000;
}

.navbar-brand img {
    width: 100%;
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 3px black;
}

.nav-link {
    color: #000000;
    transition: box-shadow 0.2s ease-in-out;
    letter-spacing: 1px;
}

nav .nav-link {
    color: #ffffff;
}

.nav-link.active {
    font-weight: 700;
    text-shadow: 1px 1px 1px #e0e0e0;
}

.nav-link:hover {
    text-shadow: 1px 1px 2px #e0e0e0;
}

.divider {
    width: 2rem;
    border-bottom: 1px solid #ffffff9c;
    margin-right: 1rem;
}

/* Footer */
footer h4 {
    font-family: "Playfair Display", serif;
}

footer ul {
    font-family: "Jost", sans-serif;
}

/* Shopping cart */
.dropdown-menu {
    width: max-content;
}

.fas {
    color: rgb(255 47 179) !important;
}

.btn-outline-secondary {
    --bs-btn-color: #ff2fb3;
}

#cartToggle {
    transition: box-shadow 0.2s ease-in-out;
    font-size: 0.8rem;
    padding: 0.1rem;
}

#cartToggle .fas {
    color: rgb(244 244 244) !important;
}

#cartToggle:hover {
    box-shadow: #000 1px 1px 2px -1px;
}

#cartDropdown {
    display: block;
    top: 3rem;
    right: 0rem;
    text-shadow: none;
    max-width: 450px;
}

#cartDropdown h6 {
    font-size: 0.8rem;
}

.cart-item {
    font-size: 0.8rem;
}

#cartDropdown .quantity-input {
    width: 3rem;
}

#cartDropdown .increment,
.decrement {
    font-size: 1rem !important;
}

.account-bag {
    text-shadow: 2px 0px 1px #d27300;
    color: #fff;
}

/* Menu */
#menu hr {
    margin: 1.2rem 0rem 2rem 0rem;
}

#menu h2 {
    font-family: "Cookie", cursive;
    font-size: 2.5rem;
    margin: 3rem 0rem 1.2rem 4rem;
    font-style: italic;
    letter-spacing: 0.36rem;
    border-bottom: 1px solid #e733a5;
}

.menu-item {
    margin: 1rem;
}

.menu-item span {
    margin-top: 1.5%;
}

.menu-item .btn {
    color: #e733a5;
}

.menu-item .btn:hover {
    box-shadow: #000 1px 1px 2px -1px;
}

.menu-description {
    font-family: "Jost", sans-serif;
}

.menu-description h6 {
    margin: 0;
}

.menu-description p {
    margin: 0.3rem 0rem 0rem 1rem;
}

.quantity-input {
    width: 5rem;
}

.increment,
.decrement {
    font-size: 1.2rem;
    border: none;
}

.add-to-cart {
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.add-to-cart:hover {
    box-shadow: #000 1px 1px 2px -1px;
}

/*  Order Page */
/* Delivery/Payment Form */
#msform {
    width: 400px;
    margin: 1.5rem auto 3rem auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input:not([type="radio"]),
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    box-sizing: border-box;
    font-size: 13px;
    width: 100%;
}

/*buttons*/
#msform .action-button {
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    border: none;
}

#msform .cstm-button {
    width: 50% !important;
    margin: 10px 5px !important;
}

.form-check-label {
    margin-top: 0.4rem;
}

.form-check-input:checked {
    background-color: #e1008ecc;
    border-color: #e1008ecc;
}

.form-check-input:focus {
    border-color: #e1008ecc;
    box-shadow: 0 0 0 .25rem #e1008e69;
}

/* Order */
#order-section {
    min-height: 40rem;
}

#order {
    background: white;
    width: 90%;
    margin-top: 77px;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 1rem 4rem 1rem 1rem;
}

#order.disabled {
    opacity: 0.5;
    background-color: #888888;
}

#order ul {
    padding: 0;
    list-style: none;
}

.order-item .quantity-input {
    width: 3rem;
}

.order-item .btn {
    color: #e733a5;
}

.order-item .btn:hover {
    box-shadow: #000 1px 1px 2px -1px;
}

.item-price {
    margin-top: 1%;
}

/*headings*/
.fs-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: 4rem;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #e1008ecc;
    color: white;
}

.delete-item {
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.delete-item:hover {
    box-shadow: #000 1px 1px 2px -1px;
}

/* Flash messages */
.flash-message {
    position: fixed;
    top: 6rem;
    right: 1rem;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.flash-message.show {
    opacity: 1;
}

.flash-message-add {
    background-color: #4CAF50;
}

.flash-message-qty {
    background-color: #af904c;
}

.flash-message-update {
    background-color: #4CAF50;
}

/* End Allen code */

/* Salini- Student ID : x24220701 */
/* For entire page and body styling */
html,
body {
    height: 100%;
    max-width: 100%;
}

/*Animation in hopmpage for images to zoom in*/
.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: zoomEffect 10s ease-in-out forwards;
}

@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.navbar {
    z-index: 10;
}

/* welcome note text*/

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
    text-shadow: 2px 1px 3px #000;
}

.content h1 {
    font-family: 'Cookie';
    font-size: 4.5rem;
}

.brand {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}

body {
    overflow-x: hidden;
}

.shop img:hover {
    border: 3px solid rgb(231 51 165);
}

.shop img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #f1f126;
    border-radius: 60%;
}

.carousel-inner {
    max-height: 40rem;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #ee5555;
    color: white;
}

.fa-snapchat {
    background: rgba(243, 243, 108, 0.944);
    color: rgb(252, 252, 244);
}

.img-desc {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #555;
    transition: all 0.3s ease;
}

.clickable-img {
    cursor: pointer;
}

.about-section h1 {
    font-family: 'Cookie';
}

.about-section p {
    padding: 1rem 8rem 0rem 8rem;
}

.cake {
    width: 300px;
    height: 200px;
    background-color: #f1eee7;
    /* Default cake color */
    border-radius: 50% 50% 0 0;
    /* Rounded top edges for the cake */
    position: relative;
    margin: 20px auto;
}

.cake-decorate {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.basicCake {
    width: 300px;
    height: 50px;
    background-color: #f3f1ec;
    /* Bottom of the cake */
    border-radius: 0 0 30% 30%;
}

.cake-options {
    text-align: center;
    margin-top: 30px;
}

.options {
    margin: 10px;
    background-color: #09dda5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options:hover {
    background-color: #3b0fb4;
}

#cake {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.vanillaCake {
    width: 250px;
    height: 130px;
    background: url('../images/cakeBase-Vennila.webp') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.pineappleCake {
    width: 250px;
    height: 130px;
    background: url('../images/cakeBase-Pineapple.webp') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.chocolateCake {
    width: 250px;
    height: 130px;
    background: url('../images/cakeBase-Chocolate.webp') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.placeTopping {
    width: 50px;
    height: auto;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: -50px;
}

.placeTopping:active {
    transform: scale(1.1);
}

.toppings {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.topping {
    width: 50px;
    cursor: pointer;
}

.topping img {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.topping img:hover {
    border-color: #f1c40f;
}

.btn-container {
    margin-top: 20px;
}

/* End Salini code */

.shopping-bag-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 1051;
}


/* Media queries */

@media (max-width: 575.98px) {
    .navbar {
        height: 6.6rem;
        margin: 1rem 0rem;
    }

    .navbar-brand {
        width: 5rem;
    }

    .navbar-collapse {
        background-color: #e733a5;
        padding: 0.3rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }

    .navbar-toggler {
        margin-right: 3rem;
    }

    .shopping-bag-container {
        top: 1.5rem;
    }

    .shop img {
        width: 100%;
        height: 100%;
    }

    #menu h2 {
        margin: 3rem 0rem 0.2rem 0.2rem;
    }

    .quantity-input {
        width: 1.5rem;
        padding: 0rem;
    }

    .menu-description p {
        margin: 0.3rem;
        display: none;
    }

    .menu-item .btn {
        padding: 0.3rem;
    }

    .menu-item {
        margin: 0.5rem;
    }

    .quantity-input {
        width: 1.5rem;
        padding: 0rem;
    }

    .menu .fa-lg {
        font-size: 1rem;
    }

    .about-section p {
        padding: 1rem;
    }

    #cake {
        margin-top: 1rem;
    }

    #msform {
        width: 100%;
        margin: 1.5rem 0rem 2rem 0rem;
    }

    #msform fieldset {
        padding: 16px 9px;
        width: 100%;
        margin: 0 0%;
    }

    #order {
        background: white;
        width: 100%;
        margin-top: 0rem;
    }

    #order-section {
        min-height: 0rem;
    }

    #cartDropdown {
        max-width: 320px;
        padding: 1rem 2rem 1rem 0.5rem;
    }

    .content {
        top: 21rem;
    }

    .carousel-inner {
        max-height: 25rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}

@media (max-width: 992px) {}

/* @media (min-width: 576px) and (max-width: 767.98px) {
    .content {
        top: 70%;
    }
} */